@import "../../_globalColor";
.main {
  width: 99.75%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 4rem;
 
  
}
#mainGreeting {
  font-size: 60px;
margin-bottom: 20px;
}


.marble {
  position: absolute;
  z-index: -2;
  border: solid 3px rgb(65, 38, 219);
  border-radius: 7px;
  border-radius: 7px;
top: 50px;
right: 30px;
width: 450px;
  height: 570px;


}
.lotus-div {
  position: relative;
 right: 810px;
border: solid 4px pink;
  top:-20px;

}
#lotus-1 {
  position: absolute;
  top: 45px;
  left: 710px;
  width: 110px;
  height: 110px;
  filter: drop-shadow(0px 6px 3px rgb(31, 26, 135));
}


#lotus-2 {
  position: absolute;
  top: 190px;
  left: 710px;
  width: 110px;
  height: 110px;
  filter: drop-shadow(0px 6px 3px rgb(31, 26, 135));
}

#lotus-3 {
  position: absolute;
  top: 340px;
  left: 710px;
  width: 110px;
  height: 110px;
  filter: drop-shadow(0px 6px 3px rgb(31, 26, 135));
}

#lotus-4 {
  position: absolute;
  top: 495px;
  left: 710px;
  width: 110px;
  height: 110px;
  filter: drop-shadow(0px 6px 3px rgb(31, 26, 135));
}
.crystal {
  position: absolute;
  top: 50px;
  right: 507px;
  width: 350px;
  height: 570px;
  border-radius: 7px;
  border:rgb(64, 0, 255) solid 3px;
}


.hand {
z-index: -2;
filter: drop-shadow(0px 6px 3px rgb(31, 26, 135));
  top: 20px;
  border: solid 9px rgb(0, 0, 0);
  width: 380px;
  height: 550px;
  overflow-y: none;
  position: absolute;
  right: 30px;
  border-radius: 7px;
  padding: 20px;
}


.react-reveal.skills-text-div {
  position: absolute;
  top: 730px;
}
#sun {
top: 100px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 
position: absolute;
right: 37px;
width: 420px;
  height: 480px;
 border-radius: 7px;
 filter: drop-shadow(1px 2px 5px rgb(255, 30, 187));
padding: 10px 10px 10px 2px;
z-index: 2;
}
.greet-main {
 
  width: 100%;
  padding: 30px 10px;
  margin: 0px auto;


}
#one {
  position: absolute;
  top: 10px;
  right: 600px;
  filter: drop-shadow(2px 4px 2px blue);
}

#two {
  position: absolute;
  top: 190px;
  right: 600px;
  filter: drop-shadow(2px 4px 2px blue);
}
#three {
  position: absolute;
  top: 380px;
  right: 600px;
  filter: drop-shadow(2px 4px 2px blue);
}
.greeting-main {
  padding-top: 0px;
  display: flex;

 
}

.subTitle {
  color: $subTitle !important;

}


.greeting-main {
  display: flex;

}

.greeting-main > * {
  flex: 1;

}
.button-greeting-div {
  display: flex;  
  position: relative;
  top: 20px;

}

.greeting-text {
  font-size: 70px;
  line-height: 1.1;
  color: $textColor !important;

}

.greeting-text-p {
  font-size: 30px;
  line-height: 40px;
 width: 94%;
padding-top: 30px;

}

.greeting-image-div > img {
  max-width: 100%;
  height: auto;
  background-color:aqua;
}

.wave-emoji {
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-name: wave;
  display: inline-block;
  transform-origin: 70% 70%;
}



#border {
  background-color: white;
  position: relative;
  top: 20px;
  padding-bottom:107px;
  padding-left: 45px;
  margin-bottom:20px;
width: 77%;
height: 439px;
padding-top: 20px;
padding-right: 40px
;
  border-radius: 7px;
  border: solid 3px rgb(64, 0, 255);

}
@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(12deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(9deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Media Query */
@media (max-width: 1380px) {
  .greeting-text {
    font-size: 50px;
    color: black;
    
  }
  .greeting-text-p {
    font-size: 20px;
    padding-bottom: 100px;
  }
}
@media (max-width: 768px) {
  .button-greeting-div {
    justify-content: space-around;
    
  }
  .greeting-text {
    font-size: 30px;
    text-align: center;
    color: black;
    
    
  }
  .greeting-text-p {
    font-size: 16px;
    line-height: normal;
    text-align: center;
    
  }
  .greeting-main {
    display: block;
    
  }
  .greeting-image-div {
    height: 256px;
    background-color:aqua;
  }
}

@media (max-width: 320px) {
  .main {
    width: auto;
  }
}
