@import "../../_globalColor";
.main {
  width: 99.75%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 4rem;
 
  
}
#mainGreeting {
  font-size: 60px;
margin-bottom: 20px;
}


.marble {
  position: absolute;
  z-index: -2;
  border: solid 3px rgb(65, 38, 219);
  border-radius: 7px;
  border-radius: 7px;
right: 390px;
width: 330px;
  height: 570px;


}

#lotus-1 {
  position: absolute;
  top: 25px;
  left: 710px;
  width: 130px;
  height: 130px;
  filter: drop-shadow(0px 6px 3px rgb(31, 26, 135));
}


#lotus-2 {
  position: absolute;
  top: 170px;
  left: 710px;
  width: 130px;
  height: 130px;
  filter: drop-shadow(0px 6px 3px rgb(31, 26, 135));
}

#lotus-3 {
  position: absolute;
  top: 320px;
  left: 710px;
  width: 130px;
  height: 130px;
  filter: drop-shadow(0px 6px 3px rgb(31, 26, 135));
}

#lotus-4 {
  position: absolute;
  top: 475px;
  left: 710px;
  width: 130px;
  height: 130px;
  filter: drop-shadow(0px 6px 3px rgb(31, 26, 135));
}
.crystal {
  position: absolute;
  right: 27px;
  width: 350px;
  height: 570px;
  border-radius: 7px;
  border:rgb(64, 0, 255) solid 3px;
}


.hand {
z-index: -2;
filter: drop-shadow(0px 6px 3px rgb(31, 26, 135));
  top: 20px;
  border: solid 9px rgb(0, 0, 0);
  width: 380px;
  height: 550px;
  overflow-y: none;
  position: absolute;
  right: 30px;
  border-radius: 7px;
  padding: 20px;
}



#sun {
top: 75px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 
position: absolute;
right: 410px;
width: 320px;
  height: 460px;
 border-radius: 7px;
 filter: drop-shadow(4px 4px 3px rgb(55, 9, 105));
padding: 10px 10px 10px 2px;
z-index: 2;
}
.greet-main {
 
  width: 100%;
  padding: 30px 10px;
  margin: 0px auto;


}
#one {
  position: absolute;
  top: 10px;
  right: 600px;
  filter: drop-shadow(2px 4px 2px blue);
}

#two {
  position: absolute;
  top: 190px;
  right: 600px;
  filter: drop-shadow(2px 4px 2px blue);
}
#three {
  position: absolute;
  top: 380px;
  right: 600px;
  filter: drop-shadow(2px 4px 2px blue);
}
.greeting-main {
  padding-top: 0px;
  display: flex;

 
}

.subTitle {
  color: $subTitle !important;
}

.greeting-main {
  display: flex;
 
}

.greeting-main > * {
  flex: 1;

}
.button-greeting-div {
  display: flex;
  margin-top: 20px;
}

.greeting-text {
  font-size: 70px;
  line-height: 1.1;
  color: $textColor !important;

}

.greeting-text-p {
  font-size: 30px;
  line-height: 40px;
 width: 94%;
padding-top: 30px;

}

.greeting-image-div > img {
  max-width: 100%;
  height: auto;
  background-color:aqua;
}

.wave-emoji {
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-name: wave;
  display: inline-block;
  transform-origin: 70% 70%;
}



#border {
width: 77%;
height: 439px;
  padding:47px 40px 80px 30px;
  border-radius: 7px;
  border: solid 3px rgb(64, 0, 255);
}
@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(12deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(9deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Media Query */
@media (max-width: 1380px) {
  .greeting-text {
    font-size: 50px;
    color: black;
    
  }
  .greeting-text-p {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .button-greeting-div {
    justify-content: space-around;
    
  }
  .greeting-text {
    font-size: 30px;
    text-align: center;
    color: black;
    
  }
  .greeting-text-p {
    font-size: 16px;
    line-height: normal;
    text-align: center;
  }
  .greeting-main {
    display: block;
    
  }
  .greeting-image-div {
    height: 256px;
    background-color:aqua;
  }
}

@media (max-width: 320px) {
  .main {
    width: auto;
  }
}
